{
  "env": {
    "es6": true,
    "node": true
  },
  "plugins": ["prettier"],
  "extends": ["airbnb-base", "prettier"],
  "parserOptions": {
    "sourceType": "script"
  },
  "rules": {
    "prettier/prettier": "error",
    "no-undef": [2, { "typeof": true }],
    "curly": ["error", "all"],
    "no-param-reassign": 0,
    "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }]
  }
}
